body {
    background: rgb(7, 54, 66);
    color: rgb(253, 246, 227);
}

#graph_container {
    margin-top: 10px;
    text-align: center;
}

.error {
    border: 1px solid #990000;
    background: #ff0000;
    color: #990000;
    padding: 5px;
    border-radius: 5px;
}

fieldset {
    border-radius: 5px;
}

fieldset ul {
    padding-left: 5px;
}

fieldset li {
    list-style: none;
}

form {
    width: 100%;
}

div#box {
    width: 100%;

    display: -moz-box;
    display: -webkit-box;
    display: -webkit-flex;

    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal
    -webkit-flex-direction: row;

    -moz-box-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
}

form>input {
    margin-top: 10px;
    margin-left: 49%;
}

embed {
    max-height: 800px;
}
